In [1]:
import unicodecsv
import pandas as pd
import numpy as np
enrollment = '/home/e/Career/Udacity/DATA ANALYTICS/Project-2/Intro_to_data_analysis(additional project)/data/enrollments.csv'
project_submission = '/home/e/Career/Udacity/DATA ANALYTICS/Project-2/Intro_to_data_analysis(additional project)/data/project_submissions.csv'
daily_engagement = '/home/e/Career/Udacity/DATA ANALYTICS/Project-2/Intro_to_data_analysis(additional project)/data/daily_engagement.csv'

def read_csv(file):
    with open(file, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
enrollments = read_csv(enrollment)
project_submissions = read_csv(project_submission)
daily_engagements = read_csv(daily_engagement)

In [ ]:
def unique_students(file):
    new_list= set()
    for enroll in file:
        new_list.add(enroll['account_key'])
    return new_list    

enrollment_num_rows =  len(enrollments)          
enrollment_num_unique_students = unique_students(enrollments)  

project_unique_students = unique_students(project_submissions)

daily_unique_students = set()
for daily in daily_engagements:
    daily_unique_students.add(daily['acct'])

In [ ]:
for enroll in daily_engagements:
    enroll['account_key'] = enroll['acct']
    del[enroll['acct']]

daily_engagements

In [ ]:
unique_students_engagement = unique_students(daily_engagements)
unique_students_engagement

In [ ]:
unique_students_engagement = unique_students(daily_engagements)

for i  in enrollments:
    student = i['account_key']
    if student not in unique_students_engagement:
        print(i)

In [ ]:
def simple_way(number):
    arr = []
    for i in range(10):
        arr.append(i)
    return arr

def smart_way(number):
    return [i for i in range(number)]

print(simple_way(10))
print(smart_way(10))

## idxmax()

In [ ]:
employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]

In [ ]:
employement = pd.Series(employment_values, index = countries)

employement.idxmax()

In [ ]:
import numpy as np
a = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
b = np.array([10, 1, 2, 3, 4, 5, 6, 7, 8, 9])
a+b

In [ ]:
str = 'ali'
rev = r'ali'
print(rev
     )

In [ ]:
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])
names

In [ ]:
rev = [x[::-1] for x in names]
print(rev)
def reverse_names(names):
    
    names.split
    
    return rev

In [ ]:
namess=pd.Series(['Andre Agassi', 'Barry Bonds', 'Christopher Columbus', 'Daniel Defoe'],
                index=[0, 1, 2, 3])

In [ ]:
name = 'i am'
k = " ".join(name.split()[::-1])

res = map(lambda x: ", ".join(x.split()[::-1]), namess)
fin = pd.Series(res)
fin

In [ ]:
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

In [ ]:
max_first = ridership[0, :].argmax()

max_first

np.max(ridership, axis = 0)

In [ ]:
k = np.max(ridership)
print(k)

In [ ]:
# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [ ]:
ridership_df

In [ ]:
# find the station with the max riders on the first day
max_ride = ridership_df.iloc[0].idxmax()

# find the mean rider per day for that station
ridership_df[max_ride].mean()

In [ ]:
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

In [ ]:
entries_and_exits['EXITSn']

In [ ]:
# Calaculation of correlation between columns
entries_and_exits.corr()

In [ ]:
# Calculation of correlation between columns
dif = entries_and_exits - entries_and_exits.shift(1)
# Easier way
entries_and_exits.diff().dropna()

## Applymap function parctise

In [ ]:

# Change False to True for this block of code to see what it does

# DataFrame applymap()
if True:
    df = pd.DataFrame({
        'a': [1, 2, 3],
        'b': [10, 20, 30],
        'c': [5, 10, 15]
    })
    
    def add_one(x):
        return x + 1
        
    print (df.applymap(add_one))
    
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [ ]:
def convert_grades(n):
    '''
    Fill in this function to convert the given DataFrame of numerical
    grades to letter grades. Return a new DataFrame with the converted
    grade.
    
    The conversion rule is:
        90-100 -> A
        80-89  -> B
        70-79  -> C
        60-69  -> D
        0-59   -> F
    '''
    if 90 <= n <= 100:
        n =  'A'
        
    elif 80 <= n <= 89:
        n = 'B'
    elif 70 <= n <= 79:
        n = 'C'
    elif 60 <= n <= 69:
        n = 'D'
    elif 0 <= n <= 59:
        n = 'F'
    
    
    
    return n
grades_df.applymap(convert_grades)

## Standardize data

In [ ]:
def standardize_column(column):
    return (column - column.mean())/column.std()

In [ ]:
def standardize(df):
    return df.apply(standardize_column)

In [ ]:
standardize(grades_df)

## Second largest value in column

In [ ]:
df = pd.DataFrame({
    'a': [4, 5, 3, 1, 2],
    'b': [20, 10, 40, 50, 30],
    'c': [25, 20, 5, 15, 10]
})

sorted_list = df['a'].idxmax()

In [ ]:
k = df['a'].drop(1)
k.max()

In [ ]:
def columnn(column):
    sorted_column = column.sort_values(ascending=False)
    print(sorted_column)
    return sorted_column.iloc[1]

columnn(df['b'])

In [ ]:
arr = [3, 8, 10, 2]
def maxx(df):
    k = 0
    for i in df:
        if  i > k:
            k = i
            
    return k

maxx(arr)

In [2]:
ridership_d = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

In [ ]:
ridership_d.groupby('TIMEn').mean()

In [ ]:
ridership_d.groupby('UNIT').head()

In [ ]:
ridership_d[['ENTRIESn', 'EXITSn']] = (ridership_d[['ENTRIESn', 'EXITSn']] - ridership_d[['ENTRIESn', 'EXITSn']].shift(1)).dropna() 
ridership_d.head()

In [3]:
ridership_d[['ENTRIESn', 'EXITSn']] = ridership_d[['ENTRIESn', 'EXITSn']].diff().dropna()

In [4]:
ridership_d.head()

   UNIT     TIMEn   ENTRIESn      EXITSn
0  R051  00:00:00        NaN         NaN
1  R079  02:00:00  5792332.0  12667234.0
2  R051  04:00:00 -5792309.0 -12667226.0
3  R079  06:00:00  5792323.0  12667234.0
4  R051  08:00:00 -5792305.0 -12667216.0

In [10]:
def entries_exits(df):
    return df - df.shift(1)

## Groupby

In [11]:
ridership_d.groupby('UNIT')['ENTRIESn', 'EXITSn'].apply(entries_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1       NaN     NaN
2       NaN     NaN
3      -9.0     0.0
4       4.0    10.0
5      11.0   187.0
6      42.0  -151.0
7      61.0   539.0
8      38.0  -549.0